# Build results
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build logs
*.log

# NuGet
*.nupkg
packages/
*.snupkg

# Other
*.cache
*.ide
*.tmp
*.db
*.opendb
*.ilk
*.pdb

# Backup & common junk
*.bak
*.old
*.orig

# Rider / JetBrains
.idea/
*.sln.iml
